/* ── Emerald Hue ─────────────────────────────────────────── */

:root[data-hue="emerald"] {
  --primary: 160.1 84.1% 39.4%;
  --primary-foreground: 355.7 100% 97.3%;
  --ring: 160.1 84.1% 39.4%;
}

.dark[data-hue="emerald"] {
  --primary: 158.1 64.4% 51.6%;
  --primary-foreground: 151.8 81% 95.9%;
  --ring: 160.1 84.1% 39.4%;
}
